.graphite .accordion{font: bold 14px Arial, sans-serif; border-top: 1px solid #111; border-right: 1px solid #111; border-left: 1px solid #111; }
.graphite .accordion, .graphite .accordion li {margin: 0; padding: 0; border: none;}
/*.graphite .accordion a {padding: 10px 10px 10px 50px; background: #0C0C0C url(images/bg_black.png) repeat-x 0 -1px; text-decoration:none; display: block; color: #ddd; border-bottom: 1px solid #222; border-top: 1px solid #777; position: relative;}
*/
.graphite .accordion a {padding: 13px 13px 13px 13px;
background-color: #2B2B2B;
text-decoration: none;
display: block;
color: #ddd;
border-radius: 10px;
position: relative;
width: 74%; }
.graphite_heading {
	font-size:16px !important;width:87% !important;
}
.graphite_heading  ul{
	font-size:12px !important;width:98% !important;
}
.graphite_heading  ul li a{
	border-radius:0px !important;width:89% !important;
}

.graphite .accordion ul a {/*background: #424549;*/}

.graphite .accordion a.dcjq-parent, .graphite .accordion a.dcjq-parent:hover {/*background: #0C0C0C url(images/bg_black.png) repeat-x 0 -1px;*/}
.graphite .accordion a.dcjq-parent.active { color: #FE5301;
border-radius: 10px 10px 0 0;
width: 89%;}

.graphite .accordion a .dcjq-icon {position: absolute; top: 50%; left: 90%; width: 34px; margin-top: -17px; height: 34px; background:url(../../images/up_arrow.png) no-repeat 0 center;}
.graphite .accordion a.dcjq-parent.active .dcjq-icon {background:url(../../images/down_arrow.png) no-repeat 0 center;}
.graphite .accordion a:hover { /*color: #FE5502;*/}
.graphite .accordion a:active{}

.text_color{
	color:#FE5301;
}
.sub_menu{
	font-size:12px;
}
.closed_arrow{
	background-image:url(../../images/edit_small.png);
	background-repeat:no-repeat;
	background-position:center;
	height:10px; width:20px;
	display:inline-block;
}
.open_arrow{
	background-image:url(../../images/edit_small.png);
	background-repeat:no-repeat;
	background-position:center;
	height:10px; width:20px;
	display:inline-block;
}
.main_menu{
	 background-color:#2B2B2B; text-decoration:none; display: block; color: #ddd; position: relative;
	 padding-bottom:5px;
	 padding-top:0px;
	 font-size:13px;
}
.main_menu div{
	margin-left: 6px;
	width: 95%;
}

.main_menu_elements{
	display:none;
}
.main_menu_element{
	padding-bottom: 10px;
	padding-top: 12px;
	left: 20px;
	border-top: 1px inset #777;
	/*position:relative;
	background-image:url(../../images/edit_small.png);
	background-repeat:no-repeat;
	background-position:-20px;*/
}
.main_menu_element a{
	display:inline-block !important; padding:0px !important;
	color:#515151 !important;
}
.main_menu_title{
	color:#515151;
	cursor:pointer;}


.ancher{
	color:#fff;
	cursor:pointer;
	position:relative;
	
	
}
.ancher:hover{
	color:#fff;
	cursor:pointer;
	
}
.edit_button{
	background-position:left;
	height:10px; width:20px;
	display:inline-block;
	padding:0px;
}
.lock_active{
	background-image: url(../../images/lock.png);
	background-repeat: no-repeat;
	background-position: left;
	height: 15px;
	width: 20px;
	display: inline-block;
	padding: 0px;
	position: relative;
	top: 3px;
	vertical-align: top;
}

.lock_deactive{
	
	background-position:left;
	height:10px; width:20px;
	display:inline-block;
	padding:0px;
}

.ancher{
	position:relative;
	left:5px;
	top:3px;
}
.pencil_active{
	background-image: url(../../images/active_pencil.png);
	background-repeat: no-repeat;
	background-position: top;
	height: 23px;
	width: 22px;
	display: inline-block;
	padding: 0px;
	position: relative;
	left: 5px;
}
.pencil_deactive{
	background-image: url(../../images/deactive_pencil.png);
	background-repeat: no-repeat;
	background-position: left;
	height: 23px;
	width: 22px;
	display: inline-block;
	padding: 0px;
	vertical-align: top;
	position: relative;
	left: 5px;
}
.collection_edit{
  vertical-align: top !important;
}

.collection_name{
	display: inline-block !important;
	width:89%;
	vertical-align:top;
}
